VITE_USER_POOL_ID=your_user_pool_id
VITE_USER_POOL_CLIENT_ID=your_user_pool_client_id
VITE_GRAPHQL_ENDPOINT=your_appsync_endpoint
VITE_REGION=us-east-1
VITE_VOTING_API_ENDPOINT=The_voting_endpoint_from_cloudfront
